<main class="main">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="password-form">
    <h1 class="password-text">Add new password</h1>

    <div>
      <input class="password-input" type="password" placeholder="Password" formControlName="password" id="passwordInput">

      <div class="info-strength">
        <div class="bar-block">
          <div class="bar" [ngClass]="strengthBarClass || 'bar-empty'" id="bar-easy"></div>
          <div class="bar" [ngClass]="strengthBarClass || 'bar-empty'" id="bar-medium"></div>
          <div class="bar" [ngClass]="strengthBarClass || 'bar-empty'" id="bar-strong"></div>
        </div>

        <div class="password-strength" [ngStyle]="{'color': passwordMismatch ? 'red' : 'grey'}" id="password-strength-text">
          {{ userForm.get('strength')?.value || 'field is empty' }}
        </div>
      </div>
    </div>

    <input class="password-input" type="password" placeholder="Confirm password" formControlName="confirmPassword" id="confirmPassword">


    <label class="checkbox-container">
      <input class="checkbox" type="checkbox" (click)="togglePasswordVisibility()">
      <span class="checkmark"></span>
      Show password
    </label>

    <button type="submit" class="submit">Submit</button>
  </form>
</main>

<router-outlet></router-outlet>
